.twitter-share-tooltip {
    position: absolute;
    display: none;
}

.twitter-share-tooltip .twitter-share-tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 9999999;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.twitter-share-tooltip .twitter-share-tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.twitter-share-tooltip.show {
    display: inline-block;
}

.twitter-share-tooltip.show .twitter-share-tooltip-text {
    visibility: visible;
    opacity: 1;
}

.twitter-share-tooltip-text .twitter-share-tooltip-text__btn {
    cursor: pointer;
}

.tfw .twitter-share-tooltip.show .twitter-share-tooltip-text {
    display: none;
}
